!!!XHTML
%html
  - @title = 'camera-server'
  %head
    %title= @title
    %script{:type => 'text/javascript', :src => 'jquery.js'}
    %script{:type => 'text/javascript', :src => '../camera-server.js'}
    :javascript
      $(function(){
        var camera_url = 'http://localhost:8785/test'
        $('#camera_url').html(camera_url);

        // dom_object, camera_url, interval_sec
        new CameraServer().start($('div#camera_img'), camera_url, 1000);
      });
    :css
      div#camera_img {
        height : 240px;
        width : 320px;
      }
  %body
    %h1= @title
    %div#camera_img
    %div#camera_url
    %hr
      - @url = 'https://github.com/shokai/camera-server'
      %a{:href => @url} #{@url}