!!!XHTML
%html
  %head
    %title img-server test
    %script{:type => 'text/javascript', :src => 'jquery.js'}
    %script{:type => 'text/javascript', :src => 'main.js'}
  %body
    %h1 img-server test
    %div#camera_img
      %span#view
      %span#tmp